@charset "UTF-8";

.home-bg {
  background-image: url(images/home-bg.png);
  background-size: cover; /* 画像を画面サイズに合わせて調整 */
  background-position: center; /* 画像の位置を中央に設定 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  width: 100%; /* 幅を画面全体に設定 */
  height: 100%; /* 高さを画面全体に設定 */
  background-attachment: fixed; /*ページスクロールしても背景が動かなくなる*/
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: #432;
}
.yokoberu {
  text-align: center;
}
.yokoberu a {
  max-width: 100px;
  margin: auto;
}
.shopname {
  margin-top: 2rem;
  font-size: 5rem;
}
.shopname a {
  color: #432;
}
.header-img {
  padding-bottom: 3rem;
}
.cover {
  background-size: cover;
  background-position: center bottom;
  height: 400px;
}
a {
  text-decoration: none;
}
.font-english {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.main {
  color: #432;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  height: 120px;
  margin-top: 5rem;
  gap: 80px;
}
.main a:hover {
  color: #3edada;
  scale: 1.3;
}
.large {
  display: inline-block; /*scaleが作動するのに必要*/
  font-size: 2rem;
  padding: .75rem 1.5rem;
  transition: .1s;
}
.main a {
  padding: 1rem; 
  margin: 3rem;
  color: #432;
}
.wrapper {
  margin: auto;
  padding: 1 1.5rem;
}
.wrapper a {
  margin: auto;
  padding: 1 1.5rem;
}
.page-title
 {
  margin-top: 3rem;
  font-size: 8rem;
  text-align: center;
  line-height: 1.5;
  color: #432;
  margin-top: 6rem;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.yoko {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1rem;
  max-width: 600px;
  margin: 1rem auto 4rem;
  line-height: 2;
}
.menu {
  text-align: center;
}
.btn {
  display: inline-block;
  font-size: 1.5rem;
  background-color: rgb(255, 165, 29);
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  transition: .1s;
}
.btn:hover {
  background-color: rgb(233, 140, 19);
  scale: 1.1;
}
.staff {
  margin-top:10rem;
}
.img {
  text-align: center;
}
.img img {
  border-radius: 50%;
  margin-top: 1rem;
}
.beruchan {
  text-align: center;
}
.beru-info {
  margin: auto;
  padding: 0  1.5rem;
  margin-top: 3rem;
}
.beru-info th {
  text-align: left;
  font-weight: bold;
  padding-right: 5rem;
}
.beru-info td {
  padding: 1rem 0;
}
.copyright {
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
}
.info {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.info-t {
  margin: auto;
  padding: 0  1.5rem;
  border-spacing: 0;
}
.info-t th,
.info-t td {
  border-bottom: 1px solid #c9c2bc;
}
.info-t th {
  text-align: left;
  font-weight: bold;
  padding: 1rem;
  padding-right: 5rem;
}
.info-t td {
  padding: 1rem 0;
}

/* News */
.news-bg {
  font-size: 100%;
  background-image: url(images/news-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.newspage-title {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #432;
}

/* Menu */
.menu-bg {
  font-size: 100%;
  background-image: url(images/menu-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Contact */
.contact-bg {
  font-size: 100%;
  background-image: url(images/contact-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Service charge */
.servicecharge-bg {
  font-size: 100%;
  background-image: url(images/servicecharge-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.charge-t {
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  line-height: 4;
  border-spacing: 0;
}
.charge-t td {
  padding: 0 2rem;
  border-bottom: 1px solid #c9c2bc;
  margin: auto;
}
.col1 {
  text-align: center;
  margin: auto;
}
.col2 {
  text-align: center;
}
.tcolor {
  background-color: #d8d7d679;
  text-align: center;
  
}

@media screen and (max-width:1100px) {
  p,
  footer,
  .beru-info {
    font-size: 2rem;
  }
  .info {
    font-size: 8rem;
  }
  .page-title {
    font-size: 5rem;
  }
  .cover {
    margin-bottom: 1rem;
  }
  .shopname {
    font-size: 6rem;
    line-height: 1.2;
  }
  .charge {
    padding-top: 10rem;
  }
.info-a {
  padding-top: 10rem;
}
}
.title {
  padding-bottom: 1rem;
}
