@charset "UTF-8";

html {
  font-size: 100%;
  background-image: url(images/yellow.png);
  background-size: cover;
  
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: #432;
}
.yokoberu {
  text-align: center;
}
.yokoberu a {
  max-width: 100px;
  margin: auto;
}
.shopname {
  margin-top: 2rem;
}
.header-img {
  padding-bottom: 3rem;
}
.cover {
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}
a {
  text-decoration: none;
}
.font-english {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.main {
  color: #432;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  height: 120px;
  margin-top: 5rem;
  gap: 80px;
}
.main a:hover {
  color: #3edada;
}
.main a {
  padding: 1rem; 
  margin: 3rem;
  color: #432;
}
.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 1 1.5rem;
}
.wrapper a {
  max-width: 1000px;
  margin: auto;
  padding: 1 1.5rem;
}
.page-title {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #fa7d16;
}
.logo {
  width: 100px;
  max-width: 100%;
  height: 100px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.yoko {
  display: flex;
  justify-content: center;
}
.about {
  text-align: center;
  font-size: 3rem;
}
p {
  font-size: 1rem;
  max-width: 736px;
  margin: 3rem auto 4rem;
  padding: 0 2rem;
}
.menu {
  text-align: center;
}
.btn {
  display: inline-block;
  font-size: 1.5rem;
  background-color: rgb(255, 165, 29);
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  transition: .5s;
}
.btn:hover {
  background-color: rgb(233, 140, 19);
  scale: 1.2;
}
.staff {
  margin-top: 300px;
}
.img {
  text-align: center;
}
.img img {
  border-radius: 50%;
  margin-top: 1rem;
}
.beruchan {
  text-align: center;
}
.beru-info {
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0  1.5rem;
  border-spacing: 0;
}
.beru-info th {
  text-align: left;
  font-weight: bold;
  padding-left: rem;
}
.beru-info td {
  padding: 1rem 0;
}
.copyright {
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
}
.info {
  text-align: center;
  font-size: 3rem;
  margin-top: 200px;
  margin-bottom: 1rem;
}
.info-t {
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0  1.5rem;
  border-spacing: 0;
}
.info-t th,
.info-t td {
  border-bottom: 1px solid #c9c2bc;
}
.info-t th {
  text-align: left;
  font-weight: bold;
  padding: 1rem;
}
.info-t td {
  padding: 1rem 0;
}