@charset "UTF-8";

.home-bg {
  background-image: url(images/home-bg.png);
  background-size: cover; /* 画像を画面サイズに合わせて調整 */
  background-position: center; /* 画像の位置を中央に設定 */
  /*background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  /*width: 100%; /* 幅を画面全体に設定 */
  /*height: 100%; /* 高さを画面全体に設定 */
  /*background-attachment: fixed; */ /*ページスクロールしても背景が動かなくなる*/
  margin: auto;
}
.header-bg {
  background-image: url(images/beru-headerbg.jpg);
  background-size: 100%;
}
.title {
  height: 600px;
  width: 100%;
}
.title img {
  max-width: 100%;
  height: 400px;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: #432;
}
.yokoberu {
  text-align: center;
  padding-top: 4rem;
}
.yokoberu a {
  max-width: 100px;
  margin: auto;
}
.shopname {
  margin-top: 6rem;
  font-size: 5rem;
}
.shopname a {
  color: rgb(31, 30, 30);
}
.shopname2 {
  margin-top: 6rem;
  font-size: 5rem;
  margin-left: 1rem;
  color: rgb(240, 255, 255);
}
.shopname3 {
  margin-top: 6rem;
  font-size: 5rem;
  margin-right: 2rem;
  color: #d49863;
}
.header-img {
  padding-bottom: 3rem;
}
.cover {
  background-size: cover;
  background-position: center bottom;
  height: 400px;
}
.cover2 {
  background-size: cover;
  background-position: center bottom;
  height: 100px;
}
a {
  text-decoration: none;
}
.font-english {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.font-philosopher {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}
.mainmenu {
  height: auto;
  padding-top: .5rem;
  background-color: #e2b888;
}
.beruberuberu {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.beruberuberu img {
  width: 100%
}
.main {
  color: #432;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  height: 100px;
  gap: 3rem;
}
.main a:hover {
  color: #3edada;
  scale: 1.3;
}
.large {
  display: inline-block; /*scaleが作動するのに必要*/
  padding: .75rem 1.5rem;
  transition: .1s;
}
.main a {
  padding: 1rem; 
  margin: 3rem;
  color: #432;
}
.wrapper {
  margin: auto;
  padding: 1 1.5rem;
}
.wrapper a {
  margin: auto;
  padding: 1 1.5rem;
}
.page-title
 {
  margin-top: 3rem;
  font-size: 8rem;
  text-align: center;
  line-height: 1.5;
  color: #432;
  margin-top: 6rem;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.yoko {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
p {
  font-size: 1rem;
  max-width: 600px;
  margin: 1rem auto 4rem;
  line-height: 2;
}
.menu {
  text-align: center;
}
.btn {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #ffa51d;
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  transition: .1s;
}
.btn:hover {
  background-color: #e98c13;
  scale: 1.1;
}
.staff {
  margin-top:10rem;
}
.img {
  text-align: center;
}
.img img {
  border-radius: 50%;
  margin-top: 1rem;
}
.beruchan {
  text-align: center;
}
.beru-info {
  margin: auto;
  padding: 0  1.5rem;
  margin-top: 3rem;
}
.beru-info th {
  text-align: left;
  font-weight: bold;
  padding-right: 5rem;
}
.beru-info td {
  padding: 1rem 0;
}
.copyright {
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
}
.about-info {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.cast-info {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.infomation-info {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.info-t {
  margin: auto;
  padding: 0  1.5rem;
  border-spacing: 0;
}
.info-t th,
.info-t td {
  border-bottom: 1px solid #c9c2bc;
}
.info-t th {
  text-align: left;
  font-weight: bold;
  padding: 1rem;
  padding-right: 5rem;
}
.info-t td {
  padding: 1rem 0;
}

/* News */
.news-bg {
  background-image: url(images/menu-bg.png);
  background-size: cover; /* 画像を画面サイズに合わせて調整 */
  background-position: center; /* 画像の位置を中央に設定 */
  /*background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  /*width: 100%; /* 幅を画面全体に設定 */
  /*height: 100%; /* 高さを画面全体に設定 */
  /*background-attachment: fixed;*/ /*ページスクロールしても背景が動かなくなる*/
  margin: auto;
}
.newspage-title {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #432;
}
.menupage-title {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #432;
}
.contactpage-title {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  color: #432;
}

/* Menu */
.menu-bg {
  background-image: url(images/news-bg.png);
  background-size: cover;
  background-position: center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}

/* Contact */
.contact-bg {
  font-size: 100%;
  background-image: url(images/contact-bg.png);
  background-size: cover;
  background-position: center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  margin: auto;
}

/* Price */
.price-bg {
  font-size: 100%;
  background-image: url(images/price.png);
  background-size: cover;
  background-position: center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}

/* Contact */
.map {
  text-align: center;
  margin-bottom: 1rem
}
.email {
  max-width: 800px;
  margin: auto;
  height: 400px;
  border-radius: 16px;
}
.sns {
  margin-top: 10rem;
}
.blockquote {
  margin: auto;
  text-align: center;
  margin-left: 20rem;
}
.charge-t {
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  line-height: 4;
  border-spacing: 0;
}
.charge-t td {
  padding: 0 2rem;
  border-bottom: 1px solid #c9c2bc;
  margin: auto;
}
.col1 {
  text-align: center;
  margin: auto;
}
.col2 {
  text-align: center;
}
.tcolor {
  background-color: #d8d7d679;
  text-align: center;
  
}
.icon1 {
  width: 30px;
  height: 30px;
}
.comingsoon {
  margin: 10rem;
}
.grid {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: auto;
}
.item img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 16px;
  width: 350px;
}
.footer {
  margin-top: 400px;
}
.location-map {
  text-align: center;
  margin: auto;
}
iframe {
  width: 600px;
  height: 400px;
}
.email {
  margin-top: 10rem;
}
.instagram-media {
 height: 1000px;
}

@media (max-width:1100px) {
  .home-bg {
  background-image: url(images/home-bg.png);
  background-size: cover; /* 画像を画面サイズに合わせて調整 */
  background-position: center; /* 画像の位置を中央に設定 */
  /*background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
  /*width: 100%; /* 幅を画面全体に設定 */
  /*height: 100%; /* 高さを画面全体に設定 */
  /*background-attachment: fixed; *//*ページスクロールしても背景が動かなくなる*/
  margin: auto;
}
  p,
  footer,
  .beru-info {
    font-size: 2rem;
  }
  .info {
    font-size: 6rem;
  }
  .info-sp {
    font-size: 3rem;
  }
  .page-title {
    font-size: 6rem;
  }
  .shopname {
    font-size: 6rem;
    line-height: 1.2;
  }
.info-a {
  padding-top: 10rem;
}
.large {
  display: inline-block; /*scaleが作動するのに必要*/
  font-size: 3rem;
  padding: .75rem 1.5rem;
  transition: .1s;
}
.title {
  padding-bottom: 3rem;
  width: 100%;
}
.icon1 {
  width: 80px;
  height: 80px;
}
.header-bg {
  height: 400px;
}
.sub-title {
  margin-top: 10rem;
}
.cast-info {
  font-size: 5rem;
  margin-top: 1rem;
}
.infomation-info {
  font-size: 5rem;
  margin-top: 1rem;
}
.price-info {
  margin: 0 0 10rem;
}
.header-bg {
  background-image: url(images/beru-headerbg.jpg);
  background-size: 100%;
  height: 400px;
}
.shopname2 {
  margin-top: 4rem;
  font-size: 6rem;
  margin-left: 1rem;
  color: #f0ffff;
}
.shopname3 {
  margin-top: 5rem;
  font-size: 6rem;
  margin-left: 1rem;
  color: #d49863;
}
.grid {
  gap: 1rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.map {
  text-align: center;
  margin-bottom: 1rem
}
.email {
  max-width: 800px;
  margin: auto;
  height: 600px;
  border-radius: 16px;
  margin-top: 10rem;
}
.blockquote {
  margin: auto;
  margin-left: 13rem;
}
.instagram-media {
 height: 1000px;
}
.mainmenu {
  height: auto;
  padding-top: .5rem;
  background-color: #e2b888;
}
.main {
  color: #432;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  height: auto;
  gap: 3rem;
}
}
